; ------
; PartCCTV.ini
; (c) 2016 m1ron0xFF
; @license: CC BY-NC-ND 4.0
; ------

[db]
dsn = "mysql:host=localhost;dbname=dbname;charset=UTF8"
user = "dbuser"
password = "dbpass"

[monolog]
log_level = debug